<div class="container">
    <h1>Articles</h1>
    <%= link_to "Submit Article", new_article_path, class: 'btn waves-effect waves-light blue', type: 'submit' %>

    <br>
    <% @article.each do |article| %>
        <p>
            <%= link_to article.title, article %> 
            <%= article.link %>
        </p>
    <% end %>
</div>
