<nav>
    <div class="nav-wrapper blue">
        <%= link_to "ContentMetrix", root_path, class: "brand-logo" %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><%= link_to "Articles", articles_path %></a></li>
        </ul>
    </div>
</nav>
